<mat-card style="width: 50%;">


  <mat-card-content>
    <p>Dados da pessoa</p>
      <form [formGroup]="form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="nome">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Cpf" formControlName="cpf">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Data de Nascimento" formControlName="dataNascimento">
        </mat-form-field>

        <section style="display: flex; justify-content: space-between; align-items: center;">
          <p>Contatos: </p>
          <button mat-raised-button color="primary" (click)="onAdicionarContato()">Adicionar contato</button>
        </section>

        <section style="display: flex; ">
          <ul formArrayName="contatos" style="list-style-type: none; padding: 0; max-width: 100%;">
            <li *ngFor="let contato of getContatos(); let i = index">
              <div style="display: flex;" formGroupName="{{i}}">
                <mat-form-field>
                  <input matInput placeholder="nome" formControlName="nome">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="email" formControlName="email" type="email">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="telefone" formControlName="telefone">
                </mat-form-field>
              </div>
            </li>
          </ul>
        </section>
      </form>
  </mat-card-content>


  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSalvar()">Salvar</button>
    <button mat-raised-button color="warn" (click)="onVoltar()">Voltar</button>
  </mat-card-actions>
</mat-card>

